@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



* {
    margin: 0;
    padding: 0;
    color: #fff;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;


}


header {
    text-align: center;
    box-shadow: 0 0 0.5rem solid #333;
    padding: 1.25rem;
    background-color: rgb(255, 252, 224);




}

.topo-do-site {
    background-image: url(../Images/FRENTECASAALPHAGPTcortada.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 46.875rem;
    background-color: rgb(0, 0, 0);

}

.txt {
    text-align: start;
    padding: 1.875rem;
    padding-left: 3.75rem;
    background-color: rgba(0, 0, 0, 0.26);
    height: 46.875rem;
}

h3 {


    font-size: 40px;
}

p {
    font-size: 20px;
}

button {
    margin-left: 0.625rem;
    padding: 0.938rem;
    background-color: #aa0000;
    border: none;
    margin-top: 0.625rem;
    transition: .4s;

}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem #333;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;

}

/* .principal-site{
    background-color: #5f5f5f;
    background-image: url(../Images/Padrão-1.png);
} */

.dados-da-casa {

    /* background-image: url(../Images/Padrão-3.png);    */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.25rem;
    background-color: rgb(255, 252, 224);

}

.info-casa {
    display: flex;
    justify-content: space-around;
}

h4 {
    text-align: center;
    padding-bottom: 3.125rem;
    /* color: #aa0000; */
    color: #333;
    font-size: 1.75rem;
}



#H4 {
    margin-top: 0.625rem;
    text-align: start;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: "Lora", serif;

}

.features {
    width: 33.33%;
    text-align: center;
    color: #f0f0f0;
    background-color: rgb(19, 17, 17);
    padding: 0.938rem 0.625rem;
    margin: 0 0.625rem;

}

.info-casa-imagens {
    display: flex;
    justify-content: space-around;

    img {
        display: flex;
        justify-content: center;
        width: 32%;
        margin-top: 0.625rem;


    }

}

/* altopronto */

.alto-pronto {
    display: flex;
    background-color: rgb(255, 252, 224);
    background-image: url(../Images/Padrão-3.png);
}

aside {
    padding: 1.25rem 3.125rem;
    width: 25%;
    background-color: rgb(22, 68, 62);

}

.txt-alto {
    padding: 1.25rem;
    width: 75%;
    color: #333;
    text-align: center;
    display: block;


    #title {
        font-family: "Lora", serif;
        font-size: 36px;
    }


    #subtitle {
        font-family: "Lora", serif;

        font-size: 28px;
    }

    #subtitle2 {
        font-family: "Lora", serif;
        font-size: 22px;
        font-weight: 500;

    }

    p {
        color: #333;
        font-size: 16px;
        padding: 0 4.375rem 1.25rem;
    }




}





/* oferece  */

.oferece {
    background-color: rgb(255, 252, 224);
    text-align: center;
    align-items: center;



    .header-oferece {

        padding: 0.625rem;

        background-color: rgb(22, 68, 62);
        height: 6.25rem;

        h2 {
            color: rgb(255, 247, 177);
            font-family: "Lora", serif;
        }

        h4 {
            color: #f0f0f0;
            font-family: "Lora", serif;
            font-style: italic;

        }
    }


}

.flex {
    display: flex;



    .txt-oferece {
        width: 60%;
        padding: 1.25rem;
        border-radius: 0.313rem;



        li {
            font-size: 16px;
            color: #333;
            padding: 0.313rem;
        }
    }

    .img-oferece {
        padding: 0.625rem 3.125rem;
        background-color: rgb(22, 68, 62);
        width: 40%;

        h2 {
            font-family: "Lora", serif;
            font-size: 34px;
            color: rgb(255, 247, 177);


            span {
                color: #f0f0f0;
                font-family: "Lora", serif;

            }
        }
    }
}



/* acabamentos */




.acabamentos {
    display: flex;
    text-align: center;

    .txt-acabamentos {
        background-color: rgb(255, 252, 224);
        width: 60%;
        padding: 1.25rem;

        h4 {
            font-size: 20px;
            color: #333;
        }

        li {
            font-size: 16px;
            color: #333;
            padding: 0.313rem;
        }

    }

    aside {
        width: 40%;

        img {
            height: 18.75rem;
            width: 12.5rem;
        }
    }
}




/* ILUMINACAO */
.iluminacao {
    
    background-size: 10%;
    background-color: rgb(22, 68, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 18.75rem;


    .bigcard {
        background-color: rgb(255, 252, 224);
        padding: 1.25rem;
        text-align: start;

        li {
            color: #333;
        }



        .flex {
            display: flex;

            img {
                padding: 0.625rem;
                width: 33.33%;
            }

        }

    }

}



/* planta */

.planta {
    background-size: 10%;
    background-color: rgb(22, 68, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 18.75rem;
    .bigcardplanta {
        background-color: rgb(255, 252, 224);
        padding: 1.25rem;
        text-align: start;

        h4 {
            font-size: 32px;
            font-family: "Lora", serif;
            margin-top: 0.625rem;
            text-align: end;
        }


    }

}






/* comdidities */

.comodities {
    background-size: 10%;
    background-color: rgb(22, 68, 62);
    padding: 1.875rem;

    #H4 {
        color: rgb(255, 252, 224);

    }

    ul {
        width: 50%;
        padding: 1.25rem;
    }

    img {
        width: 50%;

    }
}




/* salao de festas */

.salao {
    background-size: 10%;
    background-color: rgb(22, 68, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 18.75rem;


    .bigcard {
        background-color: rgb(255, 252, 224);
        padding: 1.25rem;
        text-align: center;

        h2 {
            font-size: 38px;
            font-family: "Lora", serif;
            color: #333;
        }




        ul {
            text-align: start;
            font-size: 16px;
            padding: 0 2.5rem;


            li {
                color: #333;

            }
        }

        p {
            color: #333;
            font-size: 16px;
            text-align: center;
            text-align: center;
        }

        .flex {
            display: flex;
            text-align: center;

            img {
                padding: 0.625rem;
                width: 25%;
            }

        }

    }


}


/* INV ESTIMETNOS SECTIONB */

.bigcards {

    background-color: rgb(255, 252, 224);
    padding: 1.25rem;
    text-align: start;

    h2 {
        font-size: 38px;
        font-family: "Lora", serif;
        color: #333;
    }




    ul {
        text-align: start;
        font-size: 16px;
        padding: 0 2.5rem;


        li {
            color: #333;

        }
    }

    p {
        color: #333;
        font-size: 16px;
        text-align: start;
        margin: -1rem 0;
    }


    h4{
        font-size: 28px;
        text-align: start;
        color: #333;
        margin: -1rem 0 1rem 0;
    }

    .flex {
        display: flex;
        text-align: start;

        img {
            padding: 0.625rem;
            width: 25%;
        }

    }

}






















/* FOOTER INICIO */

footer {
    background-color: #aa0000;
    padding: 1.875rem;
    text-align: center;

}

form {
    text-align: center;
    padding: 0.625rem;
}

form input {
    padding: 0.313rem;
    color: #333;
    border: none;
    margin-top: 0.313rem;
    width: 20%;


}

form label {
    margin-top: 0.625rem;
}

form textarea {
    padding: 0.313rem;
    resize: none;
    color: #333;
    height: 6.25rem;
    width: 20%;
}


.iframe {
    text-align: center;
    background-color: #f0f0f0;
    padding: 1.25rem;
    width: 50%;
}

/* FOOTER FIM */















/* tentasr responsividad3e  */






/* - RESPONSIVIDADE - */

/* ===============================
      RESPONSIVIDADE - BREAKPOINTS
================================== */

/* ----------- 1200px ----------- */
@media (max-width: 1200px) {

   

}

/* ----------- 992px (TABLET LANDSCAPE) ----------- */
@media (max-width: 992px) {

   

}

/* ----------- 768px (TABLET PORTRAIT) ----------- */
@media (max-width: 768px) {

    
}

/* ----------- 576px (CELULARES) ----------- */
@media (max-width: 576px) {

   .txt {
    text-align: center;
   }
   
   .alto-pronto{
    flex-direction: column;
    text-align: center;
   }
   

}